{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}О НАС{% endblock %}
{% block content %}
    <!--banner-->
<div class="container-fluid media_sign">
    <div class="container media_sign">
        <div class="about-left">
            <img src="{% static 'images/tv.png' %}" alt="">
        </div>
        <div class="about-right">
            <h1>MEDIASIGN <br/> GROUP</h1>
            <p>РА «MEDIASIGN GROUP» – рекламное агентство полного цикла,
                существующее на медиа-рынке Кыргызстана с 2007 года.
                Команда профессионалов «MEDIASIGN GROUP», опираясь на многолетний опытработы и богатую практику,
                гарантирует качественное выполнение поставленных задач в сжатые сроки.</p>
        </div>
    </div>
</div>
<!--banner end-->

<!--body-->


<!--body end-->
<div class="container-fluid services" >
    <div class="services">
        <h1>Услуги и продукты РА <br/>
            «MEDIASIGN GROUP»</h1>
    </div>
    <div class="container services">

        <div class="service-left">
            <p>Телевизионные проекты: «Любимый Город», «Строительный вопрос» , «AUTO DRIVE», «Здоровая страна»,
                «Культурные ценности», «Для тебя», «Про спорт», выходящие в телевизионный эфир в prime-time каждую
                неделю на четырех республиканских и четырех локальных телеканалах. Единственные проекты на телевидение,
                превосходящие телевизионный контент производимый в Кыргызстане по масштабности трансляции и качеству
                производства.
                Телепроекты которые смотрят миллионы Кыргызстанцев по всей стране.
                <br/>
                <br/>
                Production studio: графические и постановочные рекламные ролики, PR-сюжеты, документальные и
                художественные
                фильмы.
                Собственная производственная база и наличие собственного оборудования позволяет сокращать издержки на
                создание
                видео и аудио контента, что в свою очередь существенно снижает стоимость выполнения заказа для клиента.
                <br/>
                <br/>
                Телевизионный канал «Любимый»TV HD: информационно- развлекательный канал во всех сетях г. Бишкек и
                Кыргызской
                Республики:
                Республиканское Цифровое вещание Санарип (Sanarip), АК-НЕТ, Smart TV, Zor TV, City Net, Dolon TV, Mega
                Line,
                i
                TV,
                On-line TV, аi TV, Asia Net TV, Totel TV, Saima TV, Telecom TV, Namba.kg, TS.KG, также в on-line эфире
                на
                сайте
                www.lctv.kg
                <br/>
                <br/>
                В совокупности количество телезрителей указанных сетей может достигать более 4 900 000 человек.</p>
        </div>
        <div class="service-right">
            <p>BTL: организация и проведение BTL и Event – мероприятий, адресная разноска РИМ, прямые презентации и
                продажи
                товара.
                <br/>
                <br/>
                Видео витрина: полный комплекс услуг по созданию видео витрин: мониторинг месторасположения витрины и
                условий
                монтажа оборудования, создание видеоряда, изготовление проекционной витрины, установка и обслуживание.
                <br/>
                <br/>
                Mediabuying: весь спектр услуг медиа – планирования, от крупных телеканалов и радиостанций до локальных
                региональных ТВ и радио, а также распространение аудио-рекламы посредством радио-рубок на рынках и
                торговых
                центрах.
                <br/>
                <br/>
                Анализ рынка, целевой аудитории и маркетинговой ситуации: коммуникационная стратегия, marketingindex,
                специальные исследования
                <br/>
                <br/>
                Определение приоритетных категорий СМИ: использованием баз данных TV Index, Web Index, Radio Index,
                National
                Readership Survey
                <br/>
                <br/>
                Построение стратегии и тактики, планирование этапов рекламной кампании
                <br/>
                <br/>
                Рекомендации по построению первичной и последующей маркетинговой активности.</p>
        </div>
    </div>
</div>
<div class="container-fluid gradient">
    <div class="container gradient">
        <div class="document">
            <img src="{% static 'images/document.png' %}" alt="">
        </div>
        <div class="document-content">
            Телеканал «Любимый TV» HD <br>
            является эксклюзивным партнером <br>
            ООО «Централ Партнёршип Сейлз Хаус».
        </div>
    </div>
    <!--<img src="images/gradient.png" alt="">-->
</div>
{% endblock %}