{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks thumbnail %}
{% block title %}РЕКЛАМОДАТЕЛЯМ{% endblock %}
{% block content %}
    <!--body-->
    <div class="container develop" style="margin-bottom: 50px">
        <div class="develop">
            <h1>РЕКЛАМА НА НАШЕМ КАНАЛЕ</h1>
            <div class="developing">
                {% for add in adders %}
                    {% if forloop.counter == 2 %}
                        <a href="{% url 'adders_single' id=add.id %}">
                            <div class="develop-content">
                                {% thumbnail add.image "226x226" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                                {% endthumbnail %}

                                <div class="develop-text">
                                    <div class="text">
                                        <p style="padding-top: 76px">{{ add.title|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        {#                    {% elif forloop.counter <= 8 %}#}
                        <a href="{% url 'adders_single' id=add.id %}">
                            <div class="develop-content">
                                <img src="{{ add.image.url }}" alt="">
                                <div class="develop-text">
                                    <div class="text">
                                        <p>{{ add.title|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {#    <div class="container dev">#}
    {#        {% for add in adders %}#}
    {#            {% if forloop.counter >= 9 %}#}
    {#                <a href="{% url 'adders_single' id=add.id %}">#}
    {#                    <div class="develop-content ">#}
    {#                        <img src="{{ add.image.url }}" alt="">#}
    {#                        <div class="develop-text">#}
    {#                            <div class="text">#}
    {#                                <!--<div class="shadow-text">-->#}
    {#                                <p>{{ add.title|safe }}</p>#}
    {#                                <!--</div>-->#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </a>#}
    {#            {% endif %}#}
    {#        {% endfor %}#}


    </div>
    <!--body end-->
{% endblock %}