{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}КОНТАКТЫ{% endblock %}

{% block content %}
    <div class="container content" style="margin-bottom: 50px">
        <h2>СВЯЖИТЕСЬ С НАМИ</h2>
        <form id="contact" action="{% url 'contacts' %}" method="POST" name="">
            <div class="row">
                <div class="alert" style="display: none" id="alert">

                </div>
                <div class="col-md-6 form-left col-sm-6">
                    {% render_field form.name placeholder="Имя" required='required' class="name" %}
                    {#                    <input type="text" class="name" placeholder="Имя">#}
                    {% render_field form.mail placeholder="Ваш E-mail" required='required' class="e-mail" %}

                    {% render_field form.number placeholder="Телефон" required='required' class="number" %}
                    {#                    <input type="text" class="number" placeholder="Телефон">#}
                </div>
                <div class="col-md-6 form-right col-sm-6">
                    {% render_field form.comment placeholder="Опишите ваш запрос..." class="comments" %}
                    {#                <textarea name="" id="" cols="30" rows="10" class="comments"#}
                    {#                          placeholder="Опишите ваш запрос..."></textarea>#}
                    {% csrf_token %}
                </div>
            </div>

            <button>ОТПРАВИТЬ</button>

        </form>
    </div>

{% endblock %}

{% block custom_scripts %}
    <script>
        $(document).ready(function () {
            $('#contact').on('submit', function (e) {
                e.preventDefault();
                var data = $(this).serialize();
                var that = this;
                var alert = $('#alert');
                $(alert).removeClass('alert-danger').removeClass('alert-success');
                $.ajax({
                    url: $(that).attr('action'),
                    method: 'POST',
                    dataType: 'JSON',
                    data: data,
                    success: function (response) {
                        $(alert).fadeIn('fast');
                        if (response.success) {
                            $(alert).addClass('alert-success');
                            $(alert).html(response.message);
                        } else {
                            $(alert).addClass('alert-danger');
                            $(alert).html(response.message);
                        }
                        $('#id_name').val('');
                        $('#id_mail').val('');
                        $('#id_number').val('');
                        $('#id_comment').val('');
                    },
                    error: function () {
                        $(alert).fadeIn('fast');
                        $(alert).addClass('alert-danger');
                        $(alert).html('Произошла неизвестная ошибка...');
                        $(that).clean();
                        $('#id_name').val('');
                        $('#id_mail').val('');
                        $('#id_number').val('');
                        $('#id_comment').val('');
                    }
                });
            })
        });
    </script>
    <script src="http://cdn.dashjs.org/latest/dash.all.min.js"></script>
{% endblock %}