{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks thumbnail %}
{% load template_helpers %}
{% block title %}ПОРТФОЛИО{% endblock %}
{% block content %}
    <div class="container videos" style="max-width: 960px; padding: 0;">

        {% for vd in videos %}
            {#            {% if forloop.counter <=2 in page %}{% endif %}#}

            <div class="video-content">
                <a href="#" data-toggle="modal" data-target="#myModal" data-link="{{ vd.url }}"
                   class="modal-trigger">
                    {% thumbnail vd.image "300x300" crop="center" as im %}
                <img src="{{ im.url }}" alt="">
                    {% endthumbnail %}

                <div class="video-text">
                    <div class="text">
                        <div class="video-title">
                            <p>{{ vd.title|safe }}</p>
                        </div>
                    </div>
                </div>
            </a>
            </div>


            <!-- Modal -->


        {% endfor %}

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" id="video-modal">
            </div>
        </div>


    </div>
    {#  Pagination   #}
    <div class="container" style="margin: auto; text-align: center">
        {% with videos.paginator.num_pages as num_pages %}
            {% with videos.number as current_page_number %}
                {% set 0 as dots_counter %}
                {% set 0 as dot_number %}
                {% if videos.paginator.num_pages > 1 %}
                    <ul class="pagination" id="pagination">
                        {% if videos.has_previous %}
                            <li><a href="/page/{{ videos.previous_page_number }}" id="prev-page"><<</a></li>
                        {% endif %}
                        {% for page in videos.paginator.page_range %}
                            {% show_link page num_pages current_page_number as is_showing_link %}
                            {% if is_showing_link %}
                                {% set 0 as dots_counter %}
                                {% if page == videos.number %}
                                    <li class="active">
                                        <a href="/page/{{ page }}">{{ page }}</a>
                                    </li>
                                {% elif page != videos.number %}
                                    <li>
                                        <a href="/page/{{ page }}">{{ page }}</a>
                                    </li>
                                {% endif %}

                            {% else %}
                                {% if dots_counter == 0 %}
                                    {% set 1 as dots_counter %}
                                    <li><a href="#" class="disabled">...</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if videos.has_next %}
                            <li><a href="/page/{{ videos.next_page_number }}" id="next_page">>></a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            {% endwith %}
        {% endwith %}
    </div>

    <!--Block "Пагинация" End"-->

{% endblock %}
{% block custom_scripts %}
    <script type="text/javascript">
        $('.popup .close_window, .overlay').click(function () {
            $('.popup, .overlay').css({'opacity': 0, 'visibility': 'hidden'});
        });
        $('a.open_window').click(function (e) {
            $('.popup, .overlay').css({'opacity': 1, 'visibility': 'visible'});
            e.preventDefault();
        });
    </script>
    <script>
        $('.thumbnail').click(function () {
            $('.modal-body').empty();
            var title = $(this).parent('a').attr("title");
            $('.modal-title').html(title);
            $($(this).parents('div').html()).appendTo('.modal-body');
            $('#myModal').modal({show: true});
        });

        /* blur on modal open, unblur on close */
        $('#myModal').on('show.bs.modal', function () {
            $('.col-6,.row .thumbnail').addClass('blur');
        })

        $('#myModal').on('hide.bs.modal', function () {
            $('.col-6,.row .thumbnail').removeClass('blur');
        })
    </script>

    <script>
        $(document).ready(function () {
            var triggers = $('.modal-trigger');

            $(triggers).each(function (i, obj) {
                $(obj).on('click', function (e) {
                    e.preventDefault();
                    $('#video-modal').html('<iframe width="950" height="534" src="https://www.youtube.com/embed/' + $(this).attr('data-link') + '?rel=0" frameborder="0" allowfullscreen id="video-source"></iframe>');
                })
            });
        });
    </script>
{% endblock %}