{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks thumbnail %}
{% block title %}ПРОЕКТЫ{% endblock %}
{% block content %}
    <!--banner-->
    <div class="container-fluid projects">
        <div class="container all_projects">
            <h1> НАШИ ТЕЛЕПРОЕКТЫ В ФОРМАТЕ ГОРОДА И РЕСПУБЛИКИ </h1>
            <div class="tv-projects">
                {% for tv in tv_project %}
                    {% if forloop.counter <= 4 %}
                        <a href="{% url 'tv_project_single' id=tv.id %}">
                            <div class="project-single">
                                <div class="project_image">
                                    {% thumbnail tv.image "227x365" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                    <div class="project-title">
                                        <img src="{% static 'images/line.png' %}" alt="" class="line-top">
                                        <h5>{{ tv.title|safe }}</h5>
                                        <img src="{% static 'images/line.png' %}" alt="" class="line-bottom">
                                    </div>
                                </div>
                                <div class="project-info" style="color:#fbfbfb">
                                    <p>{{ tv.short_description|safe }}</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid prsecond">
        <div class="container prsecond all_projects">
            {#            <h1 style="color: #282828; text-align: center"></h1>#}
            <div class="tv-projects">
                {% for tv in tv_project %}
                    {% if forloop.counter > 4 and forloop.counter <= 7 %}
                        <a href="{% url 'tv_project_single' id=tv.id %}">
                            <div class="project-single">
                                <div class="project_image">
                                    {% thumbnail tv.image "227x365" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                    <div class="project-title">
                                        <img src="{% static 'images/line.png' %}" alt="" class="line-top">
                                        <h5>{{ tv.title|safe }}</h5>
                                        <img src="{% static 'images/line.png' %}" alt="" class="line-bottom">
                                    </div>
                                </div>
                                <div class="project-info land" style="color:#fbfbfb">
                                    <p>{{ tv.short_description|safe }}</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% for tv in tv_project %}
        {% if forloop.counter > 7 and forloop.counter <= 11 %}
            <div class="container-fluid projects">
                <div class="container all_projects">
                    {#            <h1> НАШИ ТЕЛЕПРОЕКТЫ В ФОРМАТЕ ГОРОДА И РЕСПУБЛИКИ </h1>#}
                    <div class="tv-projects">

                        <a href="{% url 'tv_project_single' id=tv.id %}">
                            <div class="project-single">
                                <div class="project_image">
                                     {% thumbnail tv.image "227x365" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                    <div class="project-title">
                                        <img src="{% static 'images/line.png' %}" alt="" class="line-top">
                                        <h5>{{ tv.title|safe }}</h5>
                                        <img src="{% static 'images/line.png' %}" alt="" class="line-bottom">
                                    </div>
                                </div>
                                <div class="project-info" style="color:#fbfbfb">
                                    <p>{{ tv.short_description|safe }}</p>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% for tv in tv_project %}
        {% if forloop.counter > 11 and forloop.counter <= 14 %}
            <div class="container-fluid prsecond">
                <div class="container prsecond all_projects">
                    {#            <h1 style="color: #282828; text-align: center"></h1>#}
                    <div class="tv-projects">

                        <a href="{% url 'tv_project_single' id=tv.id %}">
                            <div class="project-single">
                                <div class="project_image">
                                    {% thumbnail tv.image "227x365" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                    <div class="project-title">
                                        <img src="{% static 'images/line.png' %}" alt="" class="line-top">
                                        <h5>{{ tv.title|safe }}</h5>
                                        <img src="{% static 'images/line.png' %}" alt="" class="line-bottom">
                                    </div>
                                </div>
                                <div class="project-info land" style="color:#fbfbfb">
                                    <p>{{ tv.short_description|safe }}</p>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}


    <!--banner end-->


    <!--body-->

    <!--body end-->

{% endblock %}