{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}РАСПИСАНИЕ{% endblock %}
{% load template_helpers %}
{% block content %}
    <!--Body-->
    {#    {{ now }}#}
    <div class="container table">
        {% for list in table_list %}
            {% ifchanged list.date_char %}
                <div class="date-table">
                    <h3>{{ list.date_char }}</h3>
                </div>
            {% endifchanged %}
            <div class="program_container" style="padding: 15px;">
                <div class="box-table">
                    <div class="time">
                        {% if now > list.time_end and list.time_end > today_time %}
                            <div class="time-past rb_data"
                                 style="font-size: 12px; font-weight: 600;">{{ list.time_begin }}</div>
                        {% elif now >= list.time_begin and now <= list.time_end and today == list.date_char %}
                            <div id="time_now" class="time-now rb_data"
                                 style="font-size: 12px; font-weight: 600;">{{ list.time_begin }}</div>
                        {% elif list.time_begin > now and today == list.date_char %}
                            <div class="time-future rb_data"
                                 style="font-size: 12px; font-weight: 600;">{{ list.time_begin }}</div>
                        {% elif list.time_begin <= now and today < list.date_char %}
                            <div class="time-future rb_data"
                                 style="font-size: 12px; font-weight: 600;">{{ list.time_begin }}</div>
                        {% else %}
                            <div class="time-future rb_data"
                                 style="font-size: 12px; font-weight: 600;">{{ list.time_begin }}</div>
                        {% endif %}
                    </div>
                    <div class="program_name">
                        {% if now > list.time_end and list.time_end > today_time %}
                            <div class="content-past rb_content" style="font-size: 11px">{{ list.title }}</div>
                        {% elif now >= list.time_begin and now <= list.time_end and today == list.date_char %}
                            <div id="content_now" class="content-now rb_content"
                                 style="font-size: 11px">{{ list.title }}</div>
                        {% elif list.time_begin > now and today == list.date_char %}
                            <div class="content-future rb_content" style="font-size: 11px">{{ list.title }}</div>
                        {% elif list.time_begin <= now and today < list.date_char %}
                            <div class="content-future rb_content" style="font-size: 11px">{{ list.title }}</div>
                        {% else %}
                            <div class="content-future rb_content" style="font-size: 11px">{{ list.title }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {#    {% for p in program %}#}
    {#    <div class="container table">#}
    {#        <div class="date-table">#}
    {#            <h3>{{ p }}</h3>#}
    {#        </div>#}
    {#        <div class="program_container">#}
    {#            {% for list in program|get_value_by_key:p %}#}
    {#                <div class="box-table">#}
    {#                    <div class="time">#}
    {#                           {% if now > list.time_end and list.time_end > today_time %}#}
    {#                            <div class="time-past rb_data"#}
    {#                                 style="font-size: 12px; font-weight: 600;">{{ list.time_begin }}</div>#}
    {#                        {% elif now >= list.time_begin and now <= list.time_end and today == list.date_char %}#}
    {#                            <div id="time_now" class="time-now rb_data"#}
    {#                                 style="font-size: 12px; font-weight: 600;">{{ list.time_begin }}</div>#}
    {#                        {% elif list.time_begin > now and today == list.date_char %}#}
    {#                            <div class="time-future rb_data"#}
    {#                                 style="font-size: 12px; font-weight: 600;">{{ list.time_begin }}</div>#}
    {#                        {% elif list.time_begin <= now and today < list.date_char %}#}
    {#                            <div class="time-future rb_data"#}
    {#                                 style="font-size: 12px; font-weight: 600;">{{ list.time_begin }}</div>#}
    {#                        {% else %}#}
    {#                            <div class="time-future rb_data"#}
    {#                                 style="font-size: 12px; font-weight: 600;">{{ list.time_begin }}</div>#}
    {#                        {% endif %}#}
    {#                    </div>#}
    {#                    <div class="program_name">#}
    {#                          {% if now > list.time_end and list.time_end > today_time %}#}
    {#                            <div class="content-past rb_content" style="font-size: 11px">{{ list.title }}</div>#}
    {#                        {% elif now >= list.time_begin and now <= list.time_end and today == list.date_char %}#}
    {#                            <div id="content_now" class="content-now rb_content"#}
    {#                                 style="font-size: 11px">{{ list.title }}</div>#}
    {#                        {% elif list.time_begin > now and today == list.date_char %}#}
    {#                            <div class="content-future rb_content" style="font-size: 11px">{{ list.title }}</div>#}
    {#                        {% elif list.time_begin <= now and today < list.date_char %}#}
    {#                            <div class="content-future rb_content" style="font-size: 11px">{{ list.title }}</div>#}
    {#                        {% else %}#}
    {#                            <div class="content-future rb_content" style="font-size: 11px">{{ list.title }}</div>#}
    {#                        {% endif %}#}
    {#                    </div>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        {% endif %}#}
    {#        </div>#}
    {#    </div>#}
    {#    {% endfor %}#}
    {#    {% endfor %}#}

    <!--body end-->
{% endblock %}