{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}РАЗМЕЩЕНИЕ РЕКЛАМЫ{% endblock %}
{% block content %}
    <div class="container" style="max-width: 980px; margin-bottom: 50px">
        {% for add in add %}
            <div class="links">
                <a href="{% url 'adders_single' id=add.id %}">
                    <p>{{ add.title }}</p>
                </a>
            </div>

        {% endfor %}
    </div>

{% endblock %}