{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{{ adder.title }}{% endblock %}
{% block content %}
    <div class="container" style="max-width: 980px">
    <h4 style="text-align: center; color: #d63f3e; font-weight: 600; font-family: GothamProRegular">{{ adder.title }}</h4>
        {{ adder.description|safe }}
    </div>

{% endblock %}