{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <script type="text/javascript" src="{% static 'js/uppod-0.12.9.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/swfobject.js' %}"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="http://vjs.zencdn.net/6.2.4/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}">
    <link href="http://vjs.zencdn.net/6.2.4/video-js.css" rel="stylesheet">
{#    <script src="//vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>#}
</head>
<body>
{#<div class="mobile-panel">#}
<div class="hamburger">
    <a class="navbar-brand1" href="{% url 'index' %}" style="">
        <b><img id="logo" src="{% static 'images/logo_1.png' %}" alt=""></b>
    </a>
    <a id="a" href="" class="isclose"><i class="fa fa-bars"></i></a>
</div>
{#</div>#}

<div class="mobile-menu">
    <ul class="mobile_menu_list " style="">
        <li><a href="{% url 'adders' %}" style="color: #f7f7f7;">РЕКЛАМОДАТЕЛЯМ</a></li>
        <li><a href="{% url 'about_us' %}" style="color: #f7f7f7;">О НАС</a>
        <li><a href="{% url 'portfolio' %}" style="color: #f7f7f7;">ПОРТФОЛИО</a></li>
        <li><a href="{% url 'projects' %}" style="color: #f7f7f7;">ПРОЕКТЫ</a></li>
        <li><a href="{% url 'table' %}" style="color: #f7f7f7;">РАСПИСАНИЕ</a></li>
        <li><a href="{% url 'contacts' %}" style="color: #f7f7f7;">КОНТАКТЫ</a></li>

    </ul>
</div>
<!--HEADER-->
{% block header %}
    <div class="navbar navbar-collapse navbar-static-top static_header">
        <div class="container header">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                    <span class="sr-only">Открыть навигацию</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}" style=""><b> <img id="logo"
                                                                                   src="{% static 'images/logo_1.png' %}"
                                                                                   alt=""></b></a>
            </div>

            <div class="collapse navbar-collapse" id="responsive-menu">


                <ul class="nav navbar-nav">
                    <li><a href="{% url 'adders' %}">РЕКЛАМОДАТЕЛЯМ</a></li>
                    <li><a href="{% url 'about_us' %}">О НАС</a>
                    <li><a href="{% url 'portfolio' %}">ПОРТФОЛИО</a></li>
                    <li><a href="{% url 'projects' %}">ПРОЕКТЫ</a></li>
                    <li><a href="{% url 'table' %}">РАСПИСАНИЕ</a></li>
                    <li><a href="{% url 'contacts' %}">КОНТАКТЫ</a></li>
                    {#                <li><a href="a"><i class="fa fa-search" aria-hidden="true"></i></a></li>#}

                </ul>
                <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>-->
                <!--</ul>-->


            </div>

        </div>
    </div>
{% endblock %}
<!--HEADER_END--->

<div>
    {% block content %}{% endblock %}
</div>
<!--footer-->
<div class="container-fluid footer">
    <div class="container footer">
        <div class="row">
            <div class="footer-left">
                <div class="adders">
                    <h5>РЕКЛАМОДАТЕЛЯМ</h5>
                    <ul class="adders">
                        {#                        <li><a href="{% url 'adders' %}">Рекламодателям</a></li>#}
                        <li><a href="{% url 'about_us' %}">О нас</a>
                        <li><a href="{% url 'portfolio' %}">Портфолио</a></li>
                        <li><a href="{% url 'projects' %}">Проекты</a></li>
                        <li><a href="{% url 'table' %}">Расписание</a></li>
                        <li><a href="{% url 'contacts' %}">Контакты</a></li>
                        {#                        <li><a href="{% url 'add' %}">РАЗМЕЩЕНИЕ РЕКЛАМЫ</a></li>#}

                    </ul>
                    <div class="social">
                        <ul class="social" style="margin-top: 25px">
                            <li><a href="https://www.facebook.com/lubimyi.kg/" target="_blank"><img
                                    src="{% static 'images/facebook.png' %}" alt=""></a></li>
                            <li><a href="https://twitter.com/LctvKg" target="_blank"><img
                                    src="{% static 'images/twitter.png' %}" alt=""></a></li>
                            <li><a href="https://www.instagram.com/lctv_kg/" target="_blank"><img
                                    src="{% static 'images/inst.png' %}" alt=""></a></li>
                            <li><a href="https://www.youtube.com/channel/UCAloYzIJmTorFYggrhZxbtA/featured"
                                   target="_blank"><img src="{% static 'images/youtube.png' %}" alt=""></a></li>
                            <li><a href="https://ok.ru/profile/567317929115" target="_blank"><img
                                    src="{% static 'images/ok.png' %}" alt=""></a></li>
                            <li><a href=""><img src="" alt=""></a></li>
                        </ul>
                    </div>
                </div>

                <div class="contacts">
                    <h5>КОНТАКТЫ</h5>
                    {#                    <div class="tel-icon">#}
                    <div class="footer-icons">
                        <img src="{% static 'images/footer-tel.png' %}" alt="" class="tel">
                    </div>
                    <ul class="footer-numbers">
                        <li>+996 (312) 29-95-50</li>
                        <li>+996 (312) 89-16-03</li>
                        <li>+996 (312) 89-16-04</li>
                        <li>+996 (312) 89-16-05</li>
                        <li>+996 (555) 000-475</li>
                    </ul>
                    {#                    </div>#}
                    <div class="mail_icon">
                        <div class="footer-icons">
                            <img src="{% static 'images/footer-mail.png' %}" alt="" class="mail">
                        </div>
                        <ul class="footer-numbers">
                            <li><a href="" class="disabled">mediasigngroup1@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="adr-icon">
                        <div class="footer-icons">
                            <img src="{% static 'images/footer-pointer.png' %}" alt="" class="pointer">
                        </div>
                        <ul class="footer-numbers">
                            <li><a href="" class="disabled">г. Бишкек, ул. Раззакова, 32, 4 этаж (пер. Московская)</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="footer-right">
{#                <img src="{% static 'images/map.png' %}" alt="" class="map">#}
                <div class="map"></div>
            </div>
        </div>
    </div>
</div>
<!--footer end-->
<!--sunrise-->
<div class="container-fluid sunrise">
    <div class="container sunrise">
        <div class="sunrise-left">
            <p><i class="fa fa-copyright" aria-hidden="true"></i><b></b> 2014-17 Любимый город. Все права защищены</p>
        </div>
        <div class="sunrise-right">
            <!--<div class="sunrise logo">-->
            <p><span>Разработка проекта</span><img src="{% static 'images/LOGO_MINI.png' %}" alt=""></p>

            <!--</div>-->
        </div>
    </div>
</div>
<!--sunrise end-->
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/mobile.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

<script src="//vjs.zencdn.net/6.2.4/video.js"></script>
<script type="text/javascript"></script>
<script>

</script>
{% block custom_scripts %}

{% endblock %}
</body>
</html>
