@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato-Black";
    src: url("../fonts/Lato-Black.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold.ttf");
    font-style: normal;
    font-weight: normal;
}

body {
    background: linear-gradient(to top right, #f3e7e9, #e3eeff);
    background: -webkit-linear-gradient(to top right, #f3e7e9, #e3eeff);
    background-size: cover;
    background-repeat: no-repeat;
    /*font-family: GothamProBlack;*/
}

html {
    /*height: 100%;*/
}

body {
    min-height: 100%;
}

.container.header {
    max-width: 1080px;
}

.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mobile_menu_list {
    padding: 0;
}

.navbar-nav > li {
    padding-top: 23px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;

}

.mobile_menu_list > li {
    text-align: center;
    padding-top: 23px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;

}

.mobile_menu_list > li > a {
    text-decoration: none;
}

.navbar-nav > li > a {
    padding: 0;
    color: #282828;
    font-weight: 600;
    font-family: GothamProBold;

}

/*.nav.navbar-nav.header > li > a {*/
/*color: #f7f7f7;*/
/*}*/
.navbar-nav > li:hover a {
    color: #d63f3e;
    border-bottom: 2px solid;
}

.nav.navbar-nav {
    margin-left: 49px;
}

.container.content {
    max-width: 960px;
}

.content > h2 {
    text-align: -webkit-center;
    color: #282828;
    font-weight: bold;
    font-family: GothamProBlack;
}

.form-left > input {
    max-width: 468px;
    width: 100%;
    height: 65px;
    margin-bottom: 16px;
    /*padding-left: 0;*/
    padding-left: 60px;
    vertical-align: middle;

    white-space: nowrap;
    position: relative;

}

#logo:focus {
    outline: none;
}

.navbar-brand:focus {
    outline: none;
}

input:focus {
    outline: none;
}

form {
    margin-top: 50px;
}

.form-right > textarea {
    resize: none;
    max-width: 468px;
    width: 100%;
    height: 226.5px;
    padding-right: 0;
    padding-left: 25px;
    /*padding-top: 15px;*/
}

textarea.comments {
    padding-top: 23px;
    resize: none;
    max-width: 468px;
    width: 100%;
    height: 226.5px;
    padding-right: 0;
    padding-left: 25px;
}

textarea.comments:focus {
    outline: none;
}

.django-ckeditor-widget {
    width: 100%;
}

.container-fluid.footer {
    background-color: #282828;
    min-height: 325px;
    /*margin-top: 55px;*/
}

.content > h2 {
    letter-spacing: 1px;
}

form > button {
    margin-top: 39px;
    border: none;
    background-color: #d63f3e;
    width: 228px;
    height: 65px;
    color: #ffffff;
    font-family: GothamProBlack;
    letter-spacing: 2px;
}

textarea, input {
    letter-spacing: 1.5px;
}

form {
    text-align: center;
}

input, textarea {
    border: none;
}

input.name {
    background-image: url("../images/name.png");
    background-repeat: no-repeat;
    background-position: 25px;

}

input.e-mail {
    background-image: url("../images/e-mail.png");
    background-repeat: no-repeat;
    background-position: 25px;
}

input.number {
    background-image: url("../images/number.png");
    background-repeat: no-repeat;
    background-position: 25px;
}

.container.footer {
    max-width: 890px;
    color: white;
    margin-top: 45px;

}

.container.sunrise {
    max-width: 890px;
    padding: 0;

}

.adders > li {
    list-style-type: none;
}

.footer-left.adders {
    position: relative;
    width: 50%;
    float: left;
}

.footer-left.social {
    position: relative;
    width: 50%;
    float: left;
}

.footer-right {
    width: 50%;
    float: left;
    position: relative;
}

.footer-right > img {
    position: absolute;
    right: 0;
    max-width: 330px;
    width: 100%;
}

.footer-left {
    width: 50%;
    float: left;
}

ul.adders {
    width: 100%;
    padding-left: 0;
    font-family: "GothamProRegular";
}

.adders {
    width: 50%;
    float: left;
}

.footer-left > .contacts {
    position: relative;
    width: 50%;
    float: left;
    padding-left: 30px;
}

.adders > h5 {
    /*font-size: 16px;*/
    font-weight: bold;
    color: #d6d4d4;
    font-family: GothamProBlack;
}

.contacts > h5 {
    margin-bottom: 15px;
    font-weight: bold;
    color: #d6d4d4;
    font-family: GothamProBlack;
}

ul.adders > li > a {
    font-size: 12px;
    color: #7c7c7c;
    line-height: 2.5;
    font-family: "GothamProRegular";
}

ul.adders > li:hover a {
    text-decoration: none;
    color: #d6d4d4;
}

.footer-icons {
    position: relative;
    max-width: 15px;
    float: left;
}

.footer-numbers {
    position: relative;
    /*max-width: 75%;*/
    width: 100%;
    /*float: left;*/
    font-size: 12px;
    list-style-type: none;
    padding-left: 30px;

}

ul.footer-numbers > li {
    font-size: 12px;
    color: #7c7c7c;
    line-height: 1.7;
}

ul.footer-numbers > li > a {
    font-size: 12px;
    color: #7c7c7c;
    line-height: 1.7;
}

ul.footer-numbers > li:hover a {
    color: #d6d4d4;
    text-decoration: none;
}

ul.social > li {
    display: inline-block;
}

ul.social {
    padding-left: 0;
    position: relative;
    float: left;
    /*padding-top: 25px;*/
}

.sunrise-left {
    position: relative;
    float: left;
    width: 50%;
}

.sunrise-left > p {
    padding: 0;
    left: 0;
    position: absolute;
    margin-top: 16px;
}

.sunrise-right {
    position: relative;
    float: right;
    width: 50%;
}

.sunrise-right > p {
    position: absolute;
    right: 0;
    margin-top: 16px;
    /*top: 0;*/
}

.sunrise-right > p > span {
    padding-right: 12px;
}

.container-fluid.sunrise {
    background-color: #232323;
    color: #6d6d6d;
    height: 52px;

}

/*for mobile*/

@media (max-width: 768px) {
    .footer-right > img {
        display: none;
    }

    .footer-left {
        width: 100%;
    }

    .footer-left > .contacts {
        /*padding-left: 0;*/
    }

    .sunrise-left {
        width: 60%;
    }

    .sunrise-right {
        width: 40%;
    }

    .container.sunrise {
        font-size: 9px;
    }

    .sunrise-right > p > span {
        padding-right: 5px;
    }

    .sunrise-right > p > img {
        width: 60px;
    }

}

@media (max-width: 1200px) {

    .navbar-nav > li {
        padding-left: 12px;
        padding-right: 12px;
        font-size: 15px;
    }

    .nav.navbar-nav {
        margin-left: 15px;
    }
}

@media (max-width: 991px) {
    .navbar-nav > li {
        padding-left: 12px;
        padding-right: 12px;
        font-size: 10px;
    }

    .nav.navbar-nav {
        margin-left: 0;
    }
}

@media (max-width: 375px) {
    .sunrise-left {
        width: 70%;
    }

    .sunrise-right {
        width: 40%;
    }

    .container.sunrise {
        font-size: 8.5px;
    }

    .sunrise-right > p > img {
        width: 50px;
    }
}

/**/

.container.media_sign {
    max-width: 1080px;
}

.container-fluid.media_sign {
    background: linear-gradient(to top right, #c7d4d9, #eaeaea);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-left {
    width: 60%;
    position: relative;
    float: left;
    padding-right: 35px;
}

.about-right {
    width: 40%;
    position: relative;
    float: right;
}

.about-right > h1 {
    font-size: 65px;
    color: #d63f3e;
    font-family: GothamProBlack;
}

.about-right > p {
    font-size: 12px;
    color: #282828;
    font-family: 'GothamProRegular';
    max-width: 370px;
    width: 100%;
}

.container-fluid > .services > h1 {
    font-size: 24px;
    color: #282828;
    font-family: GothamProBold;
    text-align: center;
    margin-bottom: 70px;
    font-weight: 600;
}

.service-left {
    position: relative;
    width: 50%;
    float: left;
    padding-right: 20px;
}

.service-right {
    position: relative;
    width: 50%;
    float: left;
    padding-left: 40px;
}

.service-left > p {
    font-size: 12px;
    color: #282828;
    font-family: GothamProRegular;
    text-align: left;
}

.service-right > p {
    font-size: 12px;
    color: #282828;
    font-family: GothamProRegular;
    text-align: left;
}

.container.services {
    max-width: 960px;

}

.container-fluid.services {
    background: linear-gradient(to right, #f3e7e9, #e3eeff);
    padding-bottom: 55px;
    padding-top: 55px;

}

.container-fluid.gradient {
    background-image: url("../images/gradient.png");
    /*height: 650px;*/
    /*background-position-y: -70px;*/
    background-repeat: no-repeat;
    background-size: cover;

}

.about-left > img {
    max-width: 576px;
    width: 100%;
}

.container.all_projects > h1 {
    font-size: 24px;
    font-weight: 600;
    font-family: GothamProBold;
    color: #fbfbfb;
    text-align: center;
}

.container.projects {
    text-align: center;
    max-width: 1000px;
}

.container-fluid.projects {
    background-color: #d63f3e;
    min-height: 650px;
}

.tv-projects {
    margin-top: 40px;

}

.tv-projects > a > .project-single {
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
    position: relative;
}

.container.prsecond.land > .tv-projects > a > .project-single {
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
    position: relative;
}

.project_image {
    position: relative;
}

.project-title {
    width: 170px;
    height: 120px;
    /*background-color: #f7f8fc;*/
    position: absolute;
    bottom: -47px;;
    left: 35px;;
    padding-left: 15px;
    text-align: left;
    padding-top: 10px;
    background: linear-gradient(to top right, #f3e8e9, #f5f9fe);
}

.tv-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.project-single > img {
    max-width: 227px;
    width: 100%;
}

.project-single > p {
    border-bottom: 2px solid black;
    width: 50px;

}

.project-title > h5 {
    font-size: 17px;
    font-family: GothamProBlack;
    font-weight: 600;
    text-align: left;
    max-width: 120px;
    line-height: 1.3;
    color: black;
}

.project-info {
    /*position: absolute;*/
    /*bottom: -170px;*/
    text-align: left;
    max-width: 200px;
    line-height: 1.6;
    margin-top: 65px;
}

.project-info > p {
    font-size: 14px;
    color: #fbfbfb;
    font-family: GothamProRegular;

}

.project-single:hover .project-title > h5 {
    color: #cb3c3b;
}

.project-single {
    margin-bottom: 20px;
}

.container-fluid.prsecond {
    background-color: #fbecec;
    min-height: 650px;
}

.container.prsecond {
    max-width: 757px;
}

.container.prsecond > h1 {
    font-size: 24px;
    font-weight: 600;
    font-family: GothamProBold;
    color: #fbfbfb;
    margin-top: 50px;
}

.project-title.prsecond {
    background: linear-gradient(to top right, #f3e8e9, #f5f9fe);
    background: -webkit-linear-gradient(to top right, #f3e8e9, #f5f9fe);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid.red {
    height: 20px;
    background-color: #cb3c3b;

}

.container.develop {
    max-width: 980px;
}

.develop-content {
    max-width: 240px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

.develop-content > img {
    max-width: 226px;
    width: 100%;
}

.container.dev {
    max-width: 507px;
}

.develop-text > .text > p {
    font-size: 13px;
    color: #fdfdfd;
    font-family: GothamProBold;
    text-align: center;
    padding-top: 92px;
    padding-bottom: 84px;
    text-shadow: 1px 1px 35px rgba(0, 0, 0, 0.85);
    margin: 0;

}

.develop-text > .text {
    text-align: center;
    position: absolute;
    top: 5px;
    /* left: 50%; */
    max-width: 226px;
    max-height: 226px;
    height: 100%;
    width: 100%;
}

.develop-content:hover .text {
    background-color: rgba(0, 0, 0, 0.502);

}

.container.table {
    max-width: 960px;
}

.date-table > h3 {
    font-family: GothamProBold;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    padding-top: 24px;
    padding-bottom: 24px;

}

.date-table {
    max-width: 948px;
    height: 66px;
    background-color: #d63f3e;
    text-align: center;
    /*margin-bottom: ;*/
}

/*.table-table{*/
/*max-width: 948px;*/
/*background-color: #f5f5fa;*/
/*height: auto;*/
/*}*/
.box-table {
    max-width: 948px;
    /*height: 668px;*/
    /*padding-top: 35px;*/
    /*padding-bottom: 35px;*/
    padding-left: 55px;
    padding-right: 55px;
}

.program_container {
    background-color: #f5f5fa;
    padding-top: 40px;
    padding-bottom: 40px;
}

.time {
    /*width: 45px;*/
    float: left;
    width: 50px;
    font-family: Lato-Black;
    /*padding-right: 23px;*/
    margin-right: 50px;
}

.box-table {
    max-width: 948px;
    min-height: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.program_name {
    overflow: hidden;
    /*float: left;*/
}

td.time {
    width: 50px;
    font-family: Lato-Black;
    padding-right: 23px;
}

.time-past {
    color: #d4d2d1;

}

.time-now {
    color: #d63f3e;
}

.time-future {
    color: #727171;
}

.content-past {
    font-family: GothamProRegular;
    font-size: 16px;
    color: #b6b6b6;
    text-transform: uppercase;
}

.content-now {
    color: #d63f3e;
    font-family: GothamProRegular;
    font-size: 16px;
    text-transform: uppercase;

}

.content-future {
    color: #727171;
    font-family: GothamProRegular;
    font-size: 16px;
    text-transform: uppercase;

}

tr > td {
    padding-top: 6px;
    padding-bottom: 6px;
}

td.content {
    padding-left: 23px;
}

.container.gradient {
    max-width: 960px;
    position: relative;
}

.document-content {
    font-family: GothamProRegular;
    font-size: 12px;
    text-align: left;
    position: absolute;
    right: 69px;
    bottom: 90px;
    width: 268px;
    color: #282828;
    font-weight: 600;
}

@media (max-width: 992px) {
    .about-right > h1 {
        font-size: 50px;
    }
}

.shadow-text {
    /*background: black;*/
    /*box-shadow: 0 0 4em 4em ;*/
}

.container-fluid.projects-land {
    background-color: #fbfbfd;
    min-height: 1250px;
}

.project-info.land > p {
    color: #282828;
}

.container.prsecond.land {
    padding-top: 150px;
}

.container.services {

}

.container.namba {
    max-width: 980px;
}

.block {
    width: 160px;
    /*height: 80px;*/
    /*background-color: #ffffff;*/
    float: left;
    margin: 10px;
    position: relative;
    /*padding: 1px;*/
}

.block > a > img {
    max-width: 160px;
}

/*@media (max-width: 640px) {*/
    /*.slider {*/
        /*height: 400px;*/

    /*}*/

    /*.slider-wrapper {*/
        /*width: 100%;*/
        /*height: 100%;*/

    /*}*/
/*}*/

.slide {
    position: relative;
    height: 581px;
}

.slide img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: auto;
    overflow: hidden;
}

.container-fluid {
    padding: 0;
}

.slider-progress {
    width: 100%;
    height: 3px;
    background: #eee;
}

.slider-progress .progress {
    width: 0%;
    height: 15px;
    background: #d63f3e;
}

.mobile_menu_list > li {
    padding-top: 38px;
}

.container-landing {
    max-width: 1180px;
    padding: 0;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-dots {
    bottom: 25px;
}

#slick-1 .slick-dots li {
    width: 8px;
    height: 8px;
    border: 5px #f7f7f7;
    border-radius: 15px;
    background: #f7f7f7;
}

#slick-1 .slick-dots li button {
    width: 8px;
    height: 8px;
    border: 5px #f7f7f7;
    border-radius: 15px;
    background: #f7f7f7;
}

#slick-1 .slick-dots li.slick-active,
#slick-1 .slick-dots li:hover {
    background: #d63f3e;
    border-color: #f7f7f7;
}

#slick-1 .slick-dots li button,
#slick-1 .slick-dots li button:before {
    color: transparent;
    opacity: 0;
}

h1.title {
    font-family: GothamProBlack;
    font-size: 58px;
    color: #f7f7f7;
    font-weight: 600;
    text-align: center;

}

p.date_banner {
    font-size: 41px;
    font-family: GothamProRegular;
    text-align: center;
    color: #f7f7f7;
    max-width: 250px;
}

p.short-desc {
    /*max-width: 260px;*/
    font-size: 41px;
    font-family: GothamProRegular;
    text-align: center;
    color: #f7f7f7;
    margin: 0;
    /*margin-left: 75px;*/
}

.slider-content {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    /*top: 40%;*/
    /*left: 50%;*/
    /*margin-top: -51px;*/
    /*margin-left: -205px;*/
    /*width: 100%;*/
}

.slider-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*position: absolute;*/
    background: linear-gradient(to bottom, #000, transparent, #000);
    opacity: 0.55;
}

.text > p {
    max-width: 220px;
}

.ytp-hide-controls .ytp-watermark {
    display: none;
    z-index: 0;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

@media (min-width: 768px) {
    .modal-dialog {
        /* width: 950px; */
        max-width: 950px;
        width: 100%;
        /*margin: 30px auto;*/
    }
}

.portfolio_img {
    position: relative;
    max-width: 305px;
    height: 175px;
    width: 100%;
    float: left;
    overflow: hidden;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.502);
    /*z-index: 456;*/
}

.video-content {
    max-width: 307px;
    max-height: 173px;
    width: 100%;
    height: 100%;
    float: left;
    margin: 5px;
    position: relative;
    float: left;
    overflow: hidden;
}

.video-content:nth-child(2) {
    margin-right: 20px;
}

.video-content:nth-child(6) {
    margin-left: 322px;
}

.video-text > .text {
    /*text-align: center;*/
    position: absolute;
    /* left: 50%; */
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.502);

}

.video-text > .video-title {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
}

.video-title > p {
    font-family: GothamProRegular;
    font-size: 16px;
    color: #f0f0f0;
    overflow: hidden;
    padding-left: 10px;
}

.video-text:focus .text {
    outline: none;
}

.video-content:hover .text {
    background-color: rgba(0, 0, 0, 0.1);

}

.video-content img {
    /*max-width: 305px;*/
    width: 100%;
    height: auto;
    overflow: hidden;
    /*position: absolute;*/
    /*position: absolute;*/

}

.pagination {
    padding: 20px;
    clear: both;
}

.pagination ul {
    text-align: center;
}

.pagination ul li {
    display: inline-block;
    margin: 0 1px;
    vertical-align: middle;
    line-height: 12px;
    padding: 2px 6px;
}

.pagination ul li a, .pagination ul li span {
    color: #666f80;
}

.pagination ul li a:hover, .pagination ul li span:hover {
    background: #f5f5f5;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.pagination ul li a.prev, .pagination ul li a.next {
    font-weight: bold;
}

.pagination ul li.active a, .pagination ul li.active span {
    color: #2d4c80;
    font-size: 16px;
    font-weight: bold;
}

.pagination ul li.active a:hover, .pagination ul li.active span:hover {
    background: none;
}

.container.player {
    max-width: 985px;
    margin-top: 40px;
    margin-bottom: 40px;

}

.container.player > .col-xs-12 {
    padding-right: 0;
}

.table-live {
    width: 226px;
}

.table-content {
    width: 226px;
    height: 362px;
    background-color: #f7fafe;
    float: left;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;

    /*direction: rtl;*/

}

.table-live {
    /*width: 226px;*/
    /*height: 400px;*/
    float: left;
    padding: 0;
}

.table-live > .table-header {
    height: 38px;
    background-color: #d63f3e;
    text-align: center;
    font-family: GothamProBold;
    font-size: 16px;
    color: #ffffff;
    padding-top: 8px;
    width: 100%;
    /*padding-top: 0.6px;*/

}

.mobile-menu {
    background-color: rgba(0, 0, 0, 0.95);
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
}

@media (max-width: 1024px) {
    .container.projects {
        padding: 0;
    }

    .container.prsecond.land {
        padding-top: 0;
    }
}

.container.player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container.prsecond.land {
    padding-top: 0;
}

.develop > h1 {
    font-family: GothamProBold;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.step.col-xs-12 > .col-xs-8 {
    padding-left: 0;
}

.step.col-xs-12 > .col-xs-4 {
    padding-left: 0;
}

.step.col-xs-12 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.table-content::-webkit-scrollbar-button {
    /*background-image:url('');*/
    /*background-repeat:no-repeat;*/
    width: 5px;
    height: 0px
}

.table-content::-webkit-scrollbar-track {
    background-color: inherit;
}

.table-content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #d63f3e;
}

.table-content::-webkit-scrollbar-thumb:hover {
    background-color: #d63f3e;
}

.table-content::-webkit-resizer {
    width: 4px;
    height: 0px
}

.table-content::-webkit-scrollbar {
    width: 6px;
    height: 20px;
    padding-top: 5px;
}

.links a > p {
    font-size: 15px;
    font-family: GothamProRegular;
    color: #d63f3e;
}

.links a:hover {
    text-decoration: none;

}

.links {
    margin-bottom: 20px;
}

.links a:hover p {
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
}

:focus {
    outline: none;
}

a.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default; /* устанавливаем курсор в виде стрелки */
    color: #999; /* цвет текста для нективной ссылки */
}

.pagination > li > a {
    background-color: transparent;
    font-family: Lato-Black;
    color: #282828;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

.pagination > li.active > a, .pagination > li.active:hover, .pagination > li.active:focus {
    background-color: inherit;
    border: none;
    color: #d63f3e;
}

.pagination > .active > a :hover {
    background-color: transparent;
    border: none;
}

.pagination > li:first-child :hover {
    background-color: transparent;
    border: none;
}

.pagination > li > a:hover {
    background-color: transparent;
    color: #d63f3e;
}

.pagination > .active > a, .pagination > .active > a:hover {
    background-color: transparent;
    border: none;
    color: #d63f3e;
}

.develop > h1 {
    margin-bottom: 50px;
}

.links > a:hover > p {
    color: #d63f3e;
    font-weight: 600;
}

.container.namba > h3 {
    max-width: 900px;
    margin-bottom: 40px;
    margin-top: 0;
    font-family: GotemProBold;
    font-size: 24px;
    font-weight: 600;

}

iframe {
    width: 100%;
    height: 500px;;
}

.container.aknet {
    max-width: 800px;
}

.block1 {
    box-shadow: 0 9px 15px rgba(0, 0, 0, 0.14)
}

.video-title {
    bottom: 0;
    position: absolute;
}

.block:hover .hover {
    background-color: rgba(0, 0, 0, 0.23);
}

.block > .hover {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;

}

.block img {
    width: 100%;
    height: 100%;
}

.our_companions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
}

.navbar-toggle > span {
    background-color: #d63f3e;
}

.main_header {
    position: absolute;
    width: 100%;
}

.hamburger {
    display: none;
}

center {
    height: 100%;
}

@media (max-width: 992px) {
    .container.dev {
        max-width: 980px;
        padding-right: 27px;
    }

    .container.dev > a > .develop-content {
        float: right;
    }
}

@media (max-width: 992px) {
    .container.videos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .video-content:nth-child(2) {
        margin-right: 5px;

    }

    .video-content:nth-child(6) {
        margin-left: 5px;
    }
}

@media (max-width: 767px) {
    .static_header {
        z-index: 1;
    }

    .mobile-menu {
        align-items: center;
        justify-content: center;
    }

    .mobile_menu_list {
        margin-top: 60px;
    }

    .container.player {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #live {
        padding: 0;
    }

    .navbar-header {
        display: none;
    }

    .hamburger {
        width: 100%;
        /*height: 50px;*/
        position: fixed;
        z-index: 2;
        display: block;
    }

    .hamburger #a {
        color: #D63F3E;
        font-size: 30px;
        padding: 15px;
        float: right;
    }

    .table-live, .table-content {
        width: 100%;
    }

    .main_header {
        z-index: 1;
    }

    .nav.navbar-nav.header, .navbar-toggle {
        display: none;
    }

    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        position: absolute;
        z-index: 1;
    }

    .block1 {

        box-shadow: none;
    }

    .table-live {
        margin-bottom: 50px;
    }

    .slider-content h1 {
        font-size: 35px;
    }

    .slider-content p {
        font-size: 25px;
    }

    .navbar {
        padding-left: 0;
    }

    .slide img {
        /*width: auto;*/
        overflow: hidden;
    }

    .container-fluid.gradient {
        display: none;
    }

    .adders {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contacts {
        padding-left: 40px;
        padding-right: 15px;
    }

    .sunrise-left > p {
        padding-left: 15px;
    }

    .sunrise-right > p {
        padding-right: 5px;
    }

}

@media (max-width: 619px) {
    .service-left {
        width: 100%;
        padding: 0;
    }

    .service-right {
        width: 100%;
        padding: 0;
    }

    .about-left > img {
        display: none;
    }

    .about-right > p {
        max-width: 750px;
    }

    .about-right {
        width: 100%;
    }

    .container.media_sign {
        text-align: center;
    }
}

@media (max-width: 755px) {
    .about-right > h1 {
        font-size: 40px;
    }
}

@media (max-width: 420px) {
    div.adders {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    ul.footer-numbers > li {
        text-align: center;
    }

    ul.footer-numbers {
        padding: 0;

    }

    div.contacts {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .tel, .mail, .pointer {
        display: none;
    }

    ul.adders > li {
        text-align: center;
    }

    ul.adders > li > a {
        font-size: 16px;
    }

    ul.social > li {
        margin: 1px;
    }

    .footer-left > .contacts {
        width: 100%;
        padding-left: 15px;
        margin-top: 20px;
    }

    .sunrise-right > p {
        padding-left: 35px;
    }

    .contacts {
        /*display: flex;*/
        /*justify-content: center;*/
        /*flex-wrap: wrap;*/
    }

}

.navbar-toggle {
    margin-top: 15px;
}

.adders {
    padding-left: 15px;
}

.container.all_projects {
    padding: 0;
}

@media (max-width: 768px) {
    .container.develop {
        max-width: 507px;
    }

    .container.footer {
        max-width: 580px;
    }
}

.all_projects {
    max-width: 1000px;
}

.navbar-nav.header > li {
    padding-top: 38px;
}

@media (max-width: 1199px) {
    .navbar-nav.header > li {
        padding-right: 8px;
        padding-left: 8px;

    }

}

.developing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 380px) {
    .box-table {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.navbar-brand1 {
    left: 0;
    position: absolute;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

object {
    max-height: 400px;
    height: 100%;

}

@media (max-width: 766px) {
    object {
        height: 350px;
    }
}

.map {
    background: url("../images/Comp.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
    max-width: 420px;
    width: 100%;
    /* margin-right: 0; */
    margin-left: 50px;
}

@media (max-width: 768px) {
    .map {
        display: none;
    }
}

.container {
    margin-bottom: 50px;
}

.mobile-strem {
    display: none;
}

@media (max-width: 960px) {
    .mobile-strem {
        display: block;
    }

    #videoplayer {
        display: none;
    }

}

.mobile-strem img {
    width: 100%;
    height: 100%;
}